<main class="home">
    <div class="contenedor_registro">
        <nav id="navegador_inicio">
            <a href="/inicio_sesion"><p class="text_inicioS">Inicio Sesion</p></a>
            <a href="/inicio"><p class="text_inicio">Inicio</p></a>
        </nav>
        
        <div class="contenedor_fomulario">

            <p class="titulo">Registro</p>

            <form id="registro">    
                <div class="user">
                    <p>Usuario</p>
                    <input type="text" required>
                </div>
                <div class="password">
                    <p>Contraseña</p>
                    <input type="password" required>
                </div>
                <button class="subir" type="submit"><p class="subir_texto">Registrar</p></button>
            </form>
        </div>
        
    </div>
</main>