<main class="home">
    <!-- <div class="boton_container">
        <a href="/inicio"><img src="https://images.icon-icons.com/3833/PNG/512/return_up_back_icon_234820.png"
                alt="Regresar" class="regresar"></a>
        <p>Regresar</p>
    </div>
    <div class="formulario">
        <p class="titulo">Registro</p>
        <form id="registrarse">
            <div class="usuario">
                <p>Nombre</p>
                <input type="text" required/>
            </div>
            <div class="correo">
                <p>Correo</p>
                <input type="email" required/>
            </div>
            <div class="contraseña">
                <p>Contraseña</p>
                <input type="password" required/>
            </div>
            <button class="enviar" type="submit">Registrarse</button>
        </form>
    </div> -->
    <div class="contenedor_registro">
        <nav id="navegador_inicio">
            <a href="/inicio_sesion"><p class="text_inicioS">Inicio Sesion</p></a>
            <a href="/inicio"><p class="text_inicio">Inicio</p></a>
        </nav>
    </div>

</main>