<main class="home">
    <h2>!Bienvenido a TaskManager!</h2>
    <p class="text-blue">Un gestor de tareas, en el cual podras organizar tus labores,<br>trabajos, pendientes, entre
        otros. Añadiendo varios estados y filtros<br> para una mejor distribución de estas.</p>
    <div class="home__container">
        <p class="text-blue">Inicia sesion para ingresar a tu TaskManager.</p>
        <a href="/registro" id="registrar">
            Registrarse
        </a>
        <a href="/inicio_sesion" class="iniciar-sesion">
            Iniciar Sesion
        </a>
    </div>
</main>