<main class="home">
    <div class="Info">
        <h2>!Bienvenido a TaskManager!</h2>
        <p class="contenido_info">Un gestor de tareas, en el cual podras organizar tus labores,<br>trabajos, pendientes, entre
            otros. Añadiendo varios estados y filtros<br> para una mejor distribución de estas.</p>
        <div class="home__container">
            <p class="titulo_acciones">Inicia sesion para ingresar a tu TaskManager.</p>            
            <a href="/registro" id="registrar">
                <p class="text_reg">Registrarse</p>
            </a>
            <a href="/inicio_sesion" class="iniciar-sesion">
                <p class="text_sesion">Iniciar Sesion</p>
            </a>
        </div>
    </div>

</main>