.home {
    background: url(https://images.unsplash.com/photo-1542690970-7310221dbe09?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    opacity: 0.97;
}

@keyframes bajando {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.Info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    width: 50%;
    background: rgba(255, 255, 255, 0.685);
}

.contenido_info {
    animation: bajando 2s ease;
    padding: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 5px 2px rgba(189, 189, 189, 0.6);
}

.Info h2 {
    animation: bajando 2s ease;
    padding: 10px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 5px 2px rgba(189, 189, 189, 0.6);
}

.home__container {
    animation: bajando 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

.titulo_acciones {
    padding: 10px;
    font-size: 20px;
}


/* Botn de resgistro */

#registrar {
    position: relative;
    margin: 10px;
    padding: 10px;
    font-style: italic;
    border-radius: 15px;
    border: solid 1px black;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        border-radius: 5px;
        border: 0;
        background: black;
        width: 100%;
        height: 0%;
        z-index: 0;
        transition: all 0.2s ease;
    }

    &::before {
        right: 0;
        /* Se llena desde arriba */
    }

    &::after {
        left: 0;
    }

    &:hover::before,
    &:hover::after {
        height: 100%;
        border: 0;
        background: black;
    }

    &:active {
        transform: scale(0.95);
        border: 0;
    }

    &:hover .text_reg {
        color: white;
    }

    &:active .text_reg {
        transform: scale(0.90);
    }
}

.text_reg {
    position: relative;
    color: rgb(0, 0, 0);
    padding: 2px;
    font-size: 19px;
    transition: all 0.1s;
    z-index: 2;
}


/* Botn de iniciar sesion */

.iniciar-sesion {
    position: relative;
    margin: 10px;
    padding: 10px;
    font-style: italic;
    border-radius: 15px;
    border: solid 1px black;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;

    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        border-radius: 5px;
        border: 0;
        background: black;
        width: 100%;
        height: 0%;
        z-index: 0;
        transition: all 0.2s ease;
    }


    &:hover::before {
        height: 100%;
        border: 0;
        background: black;
    }

    &:active {
        transform: scale(0.95);
        border: 0;
    }

    &:hover .text_sesion {
        color: white;
    }

    &:active .text_sesion {
        transform: scale(0.90);
    }
}

.text_sesion {
    position: relative;
    color: rgb(0, 0, 0);
    padding: 2px;
    font-size: 19px;
    transition: all 0.1s;
    z-index: 2;
}