<main class="home">
    <div class="contenedor_info">
        <p>Aplicacion creada por: <br>Johan Fetecua</p>
    </div>
    <div class="contenedor_inicio">
        <nav id="navegador_inicio">
            <a href="/registro">
                <p class="text_inicioS">Registro</p>
            </a>
            <a href="/inicio">
                <p class="text_inicio">Inicio</p>
            </a>
        </nav>

        <div class="contenedor_fomulario">

            <p class="titulo">Registro</p>

            <form id="registro">
                <div class="user">
                    <p>Usuario</p>
                    <input type="text" required>
                </div>
                <div class="password">
                    <p>Contraseña</p>
                    <input type="password" required>
                </div>
                <button class="subir" type="submit">
                    <p class="subir_texto">Iniciar sesion</p>
                </button>
            </form>
        </div>
    </div>
</main>